@import "tailwindcss";

body {
    font-family: "inter", sans-serif;
}


#button {
    background-color: black;
    cursor: pointer;
    width: 270px;
    height: 48px;
    border-radius: 25px;
    color: white;
    align-items: center;
    justify-content: center;


}

#eye-btn {
    border: none;
    background-color: transparent;
    border: white;
}

#eye-btn:focus {
    outline: none;
}
